body {
  margin: 0;
  padding: 40px 0;
  font-family: sans-serif;
  background: url('/img/desk.jpg') no-repeat top center;
  background-size: cover;
}

.book {
  border: 15px solid #524741;
  border-radius: 10px;
  position: relative;
}

.book::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 100%;
  background-color: #524741;
}

.book:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 100%;
  background: url('/img/stick.png') top center repeat-y;
  z-index: 5;
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  .book::after {
    display: none;
  }
  .book:before {
    display: none;
  }
}

.book > .row {
  min-height: inherit;
  height: 100%;
}

.list {
  min-height: inherit;
  height: 100%;
  padding-bottom: 0px;
}

.title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.main {
  background-color: #fff;
}

.block {
  padding: 20px 20px 20px 30px;
}

.addNew {
  margin-bottom: 30px;
}

.addNew .form-group{
  display: block;
  width: 100%;
}

.addNew .form-group input{
  display: block;
  width: 100%;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #2c2c2c;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

.item .btn{
  border: 0;
  outline: 0;
}

.item .btn:hover{
  background-color: transparent;
}

.item .badge{
  background-color: #5bc0de;
}


.itemWrapper {
  padding-top: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
  position: relative;
  cursor: pointer;
}

.itemWrapper.active:before {
  position: absolute;
  top: 0;
  left: -30px;
  content: '';
  height: 100%;
  width: 5px;
  display: block;
  background-color: firebrick;
}

.item .col-sm-3{
  text-align: right;
}

.item__title {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.item__title p {
  margin-bottom: 0;
  line-height: 1.5;
}


.comments {
  padding-top: 20px;
  padding-bottom: 20px;
}

.addPost .comment__ava {
  background-color: #ccc;
  cursor: pointer;
}

.comment__ava--1, .addPost #ava--1 {
  background-color: lightcoral;
}

.comment__ava--2, .addPost #ava--2 {
  background-color: blue;
}

.comment__ava--3, .addPost #ava--3 {
  background-color: green;
}

.addPost .comment{
  border: 0;
}

.users {
  display: none;
}

.show {
  display: block;
}

.users input:checked + label {
  color: green;
}

.users input {
  display: none;
}

.users label {
  cursor: pointer;
  margin-right: 10px;
}